<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수면 기록 페이지</title>
    <%- include('../header.ejs') %>
    <%- include('../menu.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link href="/stylesheets/sleep.css" rel="stylesheet">
</head>
<body>
    <canvas class="chart" id="line-chart"></canvas>

    <div class="date-selector">
        <button id="prev-day">&lt;</button>
        <span id="current-date"><%= currentDate %></span>
        <button id="next-day">&gt;</button>
    </div>
    <form id="sleep-form" class="form">
        <div class="container">
            <div class="section">
                <div class="box">
                    <h2>어제의 취침시간은 언제였나요?</h2>
                    <div class="sleep-time">
                        <input type="date" id="bedtime-date" name="bedtime-date" class="date-input" max="<%= new Date().toISOString().split('T')[0] %>">
                        <input type="time" name="bedtime-time" class="time-input" min="00:00" max="23:59">
                    </div>
                </div>
                <div class="box">
                    <h2>오늘의 기상시간은 언제였나요?</h2>
                    <div class="wake-time">
                        <input type="date" name="waketime-date" class="date-input" max="<%= new Date().toISOString().split('T')[0] %>">
                        <input type="time" name="waketime-time" class="time-input" min="00:00" max="23:59">
                    </div>
                </div>
                <div class="box">
                    <h2>어제 수면은 어떠셨나요?</h2>
                    <div class="sleep-quality">
                        <div class="progress-container" id="progress-container">
                            <div class="progress-bar" id="progress-bar">
                                <div class="handle" id="handle"></div>
                            </div>
                        </div>
                        <p>현재 평가: <span id="rating">0</span> / 5</p>
                    </div>
                </div>
                <div>
                    <input class="button" type="submit" value="기록">
                </div>
            </div>
            <div class="section">
                <canvas id="sleepChart"></canvas>
                <div class="summary" id="total-sleep-time">
                    총 수면시간은 0 시간 0 분 입니다.
                </div>
            </div>
        </div>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            updateTotalSleepTime();
            loadSleepData();
            loadSleepChart();
        });

        // 토큰 유무 확인 로직
        document.addEventListener('DOMContentLoaded', function() {
            const token = localStorage.getItem('token');

            if (token) {
                console.log('Token exists in localSotrage: ', token);
            }
            else {
                console.log('Token does not exist in localStorage');
                window.location.href = '/user/login';
            }
        });



        function loadSleepChart() {
            fetch('/sleep/last7days', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.length === 0) {
                    console.error('No sleep data available');
                    return;
                }

                console.log('Sleep data for chart:', data);
                const labels = data.map(entry => entry.date);
                const sleepData = data.map(entry => entry.duration);

                const ctx = document.getElementById('sleepChart').getContext('2d');
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: '수면 시간',
                            data: sleepData,
                            borderColor: 'rgba(139, 149, 255, 1)',
                            backgroundColor: 'rgba(139, 149, 255, 0.2)',
                            fill: true,
                            tension: 0.4
                        }]
                    },
                    options: {
                        scales: {
                            x: { type: 'time', time: { unit: 'day' } },
                            y: { beginAtZero: true }
                        }
                    }
                });
            })
            .catch(error => {
                console.error('Error fetching sleep data for chart:', error);
            });
        }

        document.getElementById('sleep-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(this);
            const bedtimeDate = new Date(document.querySelector('input[name="bedtime-date"]').value);
            const bedtimeTime = document.querySelector('input[name="bedtime-time"]').value.split(':');
            bedtimeDate.setHours(bedtimeTime[0], bedtimeTime[1]);

            const waketimeDate = new Date(document.querySelector('input[name="waketime-date"]').value);
            const waketimeTime = document.querySelector('input[name="waketime-time"]').value.split(':');
            waketimeDate.setHours(waketimeTime[0], waketimeTime[1]);

            if (waketimeDate <= bedtimeDate) {
                alert('기상시간이 취침시간보다 이릅니다. 다시 입력해주세요.');
                return;
            }

            const sleepDurationMinutes = (waketimeDate - bedtimeDate) / (1000 * 60);
            const sleepDurationHours = Math.floor(sleepDurationMinutes / 60);
            const remainingMinutes = sleepDurationMinutes % 60;

            const sleepDuration = new Date(sleepDurationMinutes * 60 * 1000).toISOString().substr(11, 8);

            const sleepData = {
                sleep_date: formData.get('bedtime-date'),
                wake_date: formData.get('waketime-date'),
                sleep_rate: document.getElementById('rating').textContent,
                start_sleep_time: formData.get('bedtime-time'),
                end_sleep_time: formData.get('waketime-time'),
                sleep_duration: sleepDuration,
                user_id: 1 
            };

            console.log("Sending sleep data to server:", sleepData);

            fetch('/sleep/save', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(sleepData)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                console.log('수면기록 저장 완료');
                document.getElementById('total-sleep-time').textContent = `총 수면시간은 ${sleepDurationHours} 시간 ${remainingMinutes} 분 입니다.`;
                loadSleepData();
                loadSleepChart();
            })
            .catch(error => {
                console.error('Error sending form data:', error);
            });
        });

        function updateTotalSleepTime() {
            fetch('/sleep/total')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const { hours, minutes } = data;
                document.getElementById('total-sleep-time').textContent = `총 수면시간은 ${hours} 시간 ${minutes} 분 입니다.`;
            })
            .catch(error => {
                console.error('Error fetching total sleep time:', error);
            });
        }

        function loadSleepData() {
            const currentDate = document.getElementById('current-date').textContent;
            const isoDate = new Date(currentDate.replace(/년|월/g, '-').replace('일', '').trim()).toISOString().split('T')[0];
            //console.log(isoDate);

            fetch(`/sleep/date/${isoDate}`,{
                method: 'GET',
            })
            .then(response => {
                return response.json();
            })
            .then(data => {
                // console.log(data);
                if (data && data.length !== 0) {
                    console.log("여기가찍히는겨?");
                    document.querySelector('#bedtime-date').value = data.sleep_date;
                    document.querySelector('input[name="bedtime-time"]').value = data.start_sleep_time;
                    document.querySelector('input[name="waketime-date"]').value = data.wake_date;
                    document.querySelector('input[name="waketime-time"]').value = data.end_sleep_time;
                    const ratingPercentage = (data.sleep_rate / 5) * 100;
                    const progressBar = document.getElementById('progress-bar');
                    progressBar.style.width = `${ratingPercentage}%`;
                    progressBar.classList.add('gradient');
                    document.getElementById('rating').textContent = data.sleep_rate;

                    const sleepDuration = new Date(`1970-01-01T${data.sleep_duration}Z`);
                    const sleepDurationHours = sleepDuration.getUTCHours();
                    const sleepDurationMinutes = sleepDuration.getUTCMinutes();
                    document.getElementById('total-sleep-time').textContent = `총 수면시간은 ${sleepDurationHours} 시간 ${sleepDurationMinutes} 분 입니다.`;
                } else {
                    console.log("Here?");
                    document.querySelector('input[name="bedtime-date"]').value = '';
                    document.querySelector('input[name="bedtime-time"]').value = '';
                    document.querySelector('input[name="waketime-time"]').value = '';
                    document.getElementById('rating').textContent = '0';
                    document.getElementById('total-sleep-time').textContent = '총 수면시간은 0 시간 0 분 입니다.';
                }
            })
            .catch(error => {
                console.error('Error fetching sleep data:', error);
            });
        }

        const progressContainer = document.getElementById('progress-container');
        const progressBar = document.getElementById('progress-bar');
        const handle = document.getElementById('handle');
        const ratingDisplay = document.getElementById('rating');
        const updateProgress = (event) => {
            progressBar.classList.add('gradient');
            handle.style.display = 'block';
            const rect = progressContainer.getBoundingClientRect();
            const offsetX = event.clientX - rect.left;
            const width = Math.max(0, Math.min(offsetX, rect.width));
            const percentage = (width / rect.width) * 100;
            const steps = Math.round((percentage / 100) * 5);
            progressBar.style.width = `${(steps / 5) * 100}%`;
            ratingDisplay.textContent = steps;
            localStorage.setItem('userRating', steps);
        };
        handle.addEventListener('mousedown', () => {
            document.addEventListener('mousemove', updateProgress);
        });
        document.addEventListener('mouseup', () => {
            document.removeEventListener('mousemove', updateProgress);
        });
        progressContainer.addEventListener('click', (event) => {
            updateProgress(event);
        });
        const savedRating = localStorage.getItem('userRating');
        if (savedRating !== null) {
            progressBar.classList.add('gradient');
            handle.style.display = 'block';
            const savedPercentage = (savedRating / 5) * 100;
            progressBar.style.width = `${savedPercentage}%`;
            ratingDisplay.textContent = savedRating;
        }
        const currentDateElement = document.getElementById('current-date');
        let currentDate = new Date();
        const today = new Date();
        const updateDate = (offset) => {
            console.log(currentDate.getDate() + offset);
            currentDate.setDate(currentDate.getDate() + offset);
            const isoDate = currentDate.toISOString().split('T')[0];
            console.log(isoDate);
            currentDateElement.textContent = `${currentDate.getFullYear()}년 ${currentDate.getMonth() + 1}월 ${currentDate.getDate()}일`;
            document.getElementById('next-day').disabled = currentDate.toDateString() === today.toDateString();
            // document.getElementById('bedtime-date').max = isoDate;
            // document.getElementById('waketime-date').max = isoDate;
            loadSleepData(); 
        };
        document.getElementById('prev-day').addEventListener('click', () => updateDate(-1));
        document.getElementById('next-day').addEventListener('click', () => updateDate(1));
        currentDateElement.textContent = `${currentDate.getFullYear()}년 ${currentDate.getMonth() + 1}월 ${currentDate.getDate()}일`;
        document.getElementById('next-day').disabled = true;
        const isoDate = today.toISOString().split('T')[0];
        document.getElementById('bedtime-date').max = isoDate;
        document.getElementById('waketime-date').max = isoDate;
    </script>
</body>
</html>
















