<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring!</title>
    <link href="/stylesheets/prescription.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <%-include('../header.ejs') %>
    <%-include('../menu.ejs') %>
</head>
<body>
    
    <div class="view-container">
        <!-- <%-include('prescriptionCalendar') %> -->
        <%-include('prescriptionChart') %>
    </div> 
    
    <div class="prescription-container">
        <%-include('prescriptionContent') %>
        <%-include('prescriptionRecord') %>
    </div>

</body>
</html>