<!DOCTYPE html>
<div class="section-prescription">
    <div class="prescription-title">
        <h1>처방약 기록</h1>
        <button onclick="openPopup()">처방약 추가</button>
    </div>

    <!-- 처방약 목록 -->
    <div class="prescription-list" id="prescription-list">
        <div class="prescription-list-content">
            <% for(var i = 0; i < prescriptionContent.length; i++){ %>
                <div class="prescription-object" onclick="openPopupEdit(
                    '<%= prescriptionContent[i].prescription_name %>',
                    '<%= prescriptionContent[i].prescription_date %>',
                    '<%= prescriptionContent[i].prescription_amount %>',
                    '<%= prescriptionContent[i].prescription_id %>')">
                    <h1><%= prescriptionContent[i].prescription_name %></h1>
                    <hr>
                    <div>
                        <p><b>처방 일자</b></p>
                        <p><%= prescriptionContent[i].prescription_date %></p>
                    </div>
                    <div>
                        <p><b>현재 복용량</b></p>
                        <p><%= prescriptionContent[i].prescription_amount %> mg</p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <div id="popup" class="popup-prescription">
        <div class="prescription-form" id="prescription-list">
            <h1>처방약 추가</h1>
            <form id="add-prescription-form">
                <input type="text" id="prescription-name" placeholder="처방약 이름" required>
                <input type="date" id="prescription-date" placeholder="처방 날짜" required>
                <input type="text" id="prescription-amount" placeholder="처방 용량 mg" required>
                <button type="submit" class="add-button">추가</button>
                <span class="close-btn" onclick="closePopup()">닫기</span>
            </form>
        </div>
    </div>

    <!-- 처방약 수정 팝업창 -->
    <div id="popupEdit" class="popup-edit">
        <div class="edit-form" id="edit-list">
            <h1>처방약 수정</h1>
            <form id="edit-prescription-form">
                <input type="text" id="edit-name">
                <input type="date" id="edit-date" placeholder="처방 날짜">
                <input type="input" id="edit-amount" placeholder="처방 용량">
                <button type="submit" class="button-edit">수정</button>
                <span class="close-delete" id="delete">삭제</span>
                <span class="close-edit" onclick="closePopupEdit()">닫기</span>
                <input type="text" id="prescriptionID" style="display: none;">
            </form>
        </div>            
    </div>

</div>

<script>

    // 처방약 추가
    function openPopup() {
		var popup = document.getElementById("popup");
		popup.style.visibility = "visible";
		popup.style.opacity = "1";
	}

	function closePopup() {
		var popup = document.getElementById("popup");
		popup.style.visibility = "hidden";
		popup.style.opacity = "0";
	}

    document.getElementById('add-prescription-form').addEventListener('submit', function(event) {
        //event.preventDefault(); 
        addPrescription();
    });

    function addPrescription() { 
        const name = document.getElementById('prescription-name').value;
        const date = document.getElementById('prescription-date').value;
        const amount = document.getElementById('prescription-amount').value;

        fetch('/prescription/content', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ name, date, amount }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.status) {
                alert('처방약이 성공적으로 추가되었습니다.');
                closePopup();
            } else {
                alert('처방약 추가에 실패했습니다.');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            alert('처방약 추가 중 오류가 발생했습니다.');
        });
        return true; // 폼 제출 (새로고침)
    }

    // 처방약 수정
    function openPopupEdit(name, date, amount, prescriptionID) {
        var popup = document.getElementById("popupEdit");
        document.getElementById("edit-name").value = name;
        document.getElementById("edit-date").value = date;
        document.getElementById("edit-amount").value = amount;
        document.getElementById("prescriptionID").value = prescriptionID;
        popup.style.visibility = "visible";
        popup.style.opacity = "1";
    }

	function closePopupEdit() {
		var popup = document.getElementById("popupEdit");
		popup.style.visibility = "hidden";
		popup.style.opacity = "0";
	}

    document.getElementById('edit-prescription-form').addEventListener('submit', function(event) {
        //event.preventDefault(); 
        editContent();
    });

    function editContent() {
        const name = document.getElementById('edit-name').value;
        const date = document.getElementById('edit-date').value;
        const amount = document.getElementById('edit-amount').value;
        const prescriptionID = document.getElementById('prescriptionID').value;

        fetch(`/prescription/contentEdit/${prescriptionID}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ name, date, amount }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.status) {
                alert('처방약 정보가 성공적으로 수정되었습니다.');
                closePopupEdit();
            } else {
                alert('처방약 수정에 실패했습니다.');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            alert('처방약 수정 중 오류가 발생했습니다.');
        });

        return true; // 폼 제출
    }

    // 처방약 삭제
    document.getElementById('delete').addEventListener('click', function(event) {
        //event.preventDefault(); 
        deleteContent();
    });

    function deleteContent() {
        const prescriptionID = document.getElementById('prescriptionID').value;
        
        fetch(`/prescription/contentDelete/${prescriptionID}`, {
            method: 'DELETE',
            headers: {
               'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.status) {
                alert('처방약이 성공적으로 삭제되었습니다.');
                closePopupEdit();
            } else {
                alert('처방약 삭제에 실패했습니다.');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            alert('처방약 삭제 중 오류가 발생했습니다.');
        });

        return true; // 폼 제출
    }


</script>